<div class="panel panel-default" ng-controller="FollowController as vm">
    <div class="panel-heading">
        <h3>Followers</h3></div>
    <div class="panel-body">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="Add a user" ng-model="vm.newFollower">
            <div class="input-group-btn">
                <button type="button" class="btn btn-xs btn-default" ng-click="vm.addFollower(vm.newFollower)">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
            </div>
        </div>
        <span class="errors">{{vm.followError}}</span>
        <ul id="followul" class="list-group">
            <li ng-repeat="follower in vm.followers" id="followli" class="list-group-item">
                <div class="media">
                    <div class="media-left">
                        <img class="media-object img-rounded" ng-src="{{follower.picture}}" alt="..." width="80" height="80">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">{{follower.username}}<a class="btn btn-xs btn-danger" role="button" ng-click="vm.unfollow(follower)">unfollow</a></h3>
                        <h4>{{follower.status}}</h4>
                        
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
